= form_for(@message) do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :mobile_text
    %br/
    = f.text_field :mobile_text
  .field
    = f.label :full_text
    %br/
    = f.text_field :full_text
  .field
    = f.label :group
    %br/
    = f.text_field :group
  .actions
    = f.submit
