<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body class="status-grid">
    <div class="area">
      <h3><%= h @area.name -%></h3>
      <div>Updated: <%= @area.updated_at -%></div>
      
      <p>
        View online at<br /> <span style="margin-left: 1em;"><%= link_to 'http://www.arctic-transportation.org/map-xml.php', 'http://www.arctic-transportation.org/map-xml.php' -%></span>
      </p>
      <p>
        Or on a mobile device at<br /> <span style="margin-left: 1em;"><%= link_to 'http://atn.gina.alaska.edu/m', 'http://atn.gina.alaska.edu/m' -%></span>
      </p>

      <br />
      <div>
        <label>Travel Status:</label> <span class="<%= @area.travel_status -%>"><%= h @area.travel_status %></span>
      </div>
      <div>
        <label>Soil Temperature:</label> <span><%= h @area.soil.first.full_text %></span>
      </div>
      <div>
        <label>Snow Status:</label> <span><%= h @area.snow.first.full_text %></span>
      </div>
      <% unless @area.alerts.empty? -%>
      <br />
      <div>
        <label>Alerts:</label>
        <div style="margin-left: 1em;">
          <%= raw @area.alerts.collect(&:full_text).join('<br />') %>
        </div>
      </div>
      <% end -%>
      <% unless @area.operationals.empty? -%>
      <br />
      <div>
        <label>Operational Considerations:</label>
        <div style="margin-left: 1em;">
          <%= raw @area.operationals.collect(&:full_text).join('<br />') %>
        </div>
      </div>
      <% end -%>
    </div>
  </body>
</html>