.col-sm-3.col-xs-5.col-sm-offset-0.col-xs-offset-1
  .panel.panel-default.area-panel
    .panel-heading
      = link_to area.name, area_path(area), class: 'panel-title'
      %p Updated #{time_ago_in_words area.updated_at} ago
      .ribbon{ class: "ribbon-#{area.travel_status.downcase}"}= area.travel_status
    .panel-body
      %dl
        %dt Travel Status
        %dd= area.travel_status
        - if area.soil_messages.any?
          %dt Soil Temperature
          %dd= area.soil_messages.first.try(:full_text)
        - if area.snow_messages.any?
          %dt Snow Status
          %dd= area.snow_messages.first.try(:full_text)

        - unless area.alert_messages.empty?
          %dt Alerts
          %dd
            = render partial: 'alert', collection: area.alert_messages
        - unless area.operational_messages.empty?
          %dt Operational Considerations
          %dd
            = render partial: 'alert', collection: area.operational_messages
        - unless area.notes.blank?
          %dt Notes
          %dd
            = area.notes
