.col-md-6.col-xs-6.area
  %h3
    = area.name
    %small= link_to "[edit]", edit_area_path(area)
  %h4= "Updated: #{time_ago_in_words area.updated_at}"
  %div
    %label Travel Status
    %span{class: area.travel_status}= area.travel_status
  %div
    %label Soil Temperature
    %span= area.soil_messages.first.try(:full_text)
  %div
    %label Snow Status
    %span= area.snow_messages.first.try(:full_text)

  - unless area.alert_messages.empty?
    %label Alerts
    .messages
      = render partial: 'alert', collection: area.alert_messages
  - unless area.operational_messages.empty?
    %label Operational Considerations
    .messages
      = render partial: 'alert', collection: area.operational_messages
