%p#notice= notice
%p
  %strong Area:
  = @alert.area_id
%p
  %strong Text:
  = @alert.text
%p
  %strong Active:
  = @alert.active
%p
  %strong System:
  = @alert.system
= link_to 'Edit', edit_alert_path(@alert)
|
\#{link_to 'Back', alerts_path}
