.panel.panel-default.area-panel
  .panel-heading
    %h1.panel-title
      = link_to area.name, area_path(area)
      %small
        Updated #{time_ago_in_words area.updated_at} ago
    = render 'areas/ribbon', area: area
  .panel-body
    %dl
      %dt Travel Status
      %dd= area.travel_status
      %dt Effective
      %dd= area.as_of || area.updated_at.to_date
      - if area.soil_messages.any?
        %dt Soil Temperature
        %dd= area.soil_messages.first.try(:full_text)
      - if area.snow_messages.any?
        %dt Snow Status
        %dd= area.snow_messages.first.try(:full_text)

      - unless area.alert_messages.empty?
        %dt Alerts
        %dd
          = render partial: 'alert', collection: area.alert_messages
      - unless area.operational_messages.empty?
        %dt Operational Considerations
        %dd
          = render partial: 'alert', collection: area.operational_messages
      - unless area.notes.blank?
        %dt Notes
        %dd
          = area.notes
