<%= form_for(@area) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :travel_status %><br>
    <%= f.text_field :travel_status %>
  </div>
  <div class="field">
    <%= f.label :snow_status %><br>
    <%= f.text_field :snow_status %>
  </div>
  <div class="field">
    <%= f.label :soil_status %><br>
    <%= f.text_field :soil_status %>
  </div>
  <div class="field">
    <%= f.label :geom %><br>
    <%= f.text_field :geom %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :order %><br>
    <%= f.number_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
