= bootstrap_form_for(@area) do |f|
  = f.select :travel_status, Area::TravelStatus, label: 'Travel Status:'

  = f.collection_check_boxes :alert_message_ids, Message.alert, :id, :full_text, label: 'Alert Conditions'
  = f.collection_check_boxes :operational_message_ids, Message.operational, :id, :full_text, label: 'Operational Conditions'
  = f.collection_radio_buttons :snow_message_id, Message.snow, :id, :full_text, label: 'Snow Conditions'
  = f.collection_radio_buttons :soil_message_id, Message.soil, :id, :full_text, label: 'Soil Conditions'
  = f.text_field :notes
  = f.submit data: {target: '#updateAreasModal', toggle: 'modal'}


#updateAreasModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %h4 Updating Areas
      .modal-body
        Regenerating overview images, please be patient.
        .progress
          .progress-bar.progress-bar-striped.active{style: "width: 100%"}
        