%h1 Listing areas
%table
  %thead
    %tr
      %th Name
      %th Travel status
      %th Geom
      %th Notes
      %th Order
      %th{:colspan => "3"}
  %tbody
    - @areas.each do |area|
      %tr
        %td= area.name
        %td= area.travel_status
        %td= area.geom
        %td= area.notes
        %td= area.order
