-# .col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2.area
.container{style: 'max-width: 600px'}
  %h3
    = @area.name

  - if can? :manage, @area
    = link_to edit_area_path(@area), class: 'btn btn-primary btn-block' do
      %i.fa.fa-inverse.fa-edit
      Update

  %h4= "Updated: #{time_ago_in_words @area.updated_at} ago"
  .list-group
    .list-group-item{class: area_class(@area)}
      = @area.travel_status.humanize
  .list-group
    .list-group-item.active Soil Temperature
    .list-group-item= @area.soil_messages.first.try(:full_text)
  .list-group
    .list-group-item.active Snow Status
    .list-group-item= @area.snow_messages.first.try(:full_text)

  - unless @area.alert_messages.empty?
    .list-group
      .list-group-item.active Alerts
      = render partial: 'alert', collection: @area.alert_messages
  - unless @area.operational_messages.empty?
    .list-group
      .list-group-item.active Operational Considerations
      = render partial: 'alert', collection: @area.operational_messages
  - unless @area.notes.blank?
    .list-group
      .list-group-item.active Notes
      .list-group-item
        = @area.notes