<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @area.name %>
</p>

<p>
  <strong>Travel status:</strong>
  <%= @area.travel_status %>
</p>

<p>
  <strong>Snow status:</strong>
  <%= @area.snow_status %>
</p>

<p>
  <strong>Soil status:</strong>
  <%= @area.soil_status %>
</p>

<p>
  <strong>Geom:</strong>
  <%= @area.geom %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @area.notes %>
</p>

<p>
  <strong>Order:</strong>
  <%= @area.order %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
