.row
  .col-sm-8
    %h1
      = "Editing #{@user.name}"
      %small= @user.email

    = render 'form'
  .col-sm-4
    .panel.panel-default
      .panel-heading
        %h1.panel-title Role descriptions
      .panel-body
        %dl.role-descriptions
          - role_help.each do |help|
            %dt= help.first
            %dd= help.last
