<ul>
<li><%= link_to 'Home', '/' %></li>
<li><%= link_to 'Mobile Interface', '/m' %></li>
<li><%= link_to 'Developer API', '/docs' %></li>
<% if logged_in? -%>
  <li><%= link_to 'Settings', '/settings' %></li>
  <li><%= link_to 'Logout', '/logout' %></li>
<% else -%>
  <li><%= link_to 'Login', '/login' %></li>
<% end -%>
</ul>
