!!!
%html
  %head
    %title Tundra Travel Network Manager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          =link_to "TTN Travel Status", root_url, class: 'navbar-brand'
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Developer API", '#'
          %li= render 'layouts/login'


    .container.content
      .flash
        = render 'layouts/flash_messages'
      = yield
