!!!
%html
  %head
    %title Tundra Travel Network Manager
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/analytics'
    = render 'layouts/navbar'
    .container.content
      .row
        .flash
          = render 'layouts/flash_messages'
      .row
        = yield
      .row.footer
        = link_to image_tag("/akdnr-logo.png"), 'http://dnr.alaska.gov'
        = link_to image_tag("/UAFLogo_A_647-small.png"), 'http://www.uaf.edu'
        = link_to image_tag("/gina-logo.png"), 'http://gina.alaska.edu'